.home-all {
    display: inline-flex;
    width: 100%;
}

.home-left {
    width: 50%;
    display: inline-grid;
    margin: auto;

    text-align: center;
}

.home-left h2 {
    margin-bottom: 0;
}

#datasets-upload {
    margin-top: 50px;
}

.home-right {
    width: 50%;
    display: block;
}

.datasets-list {
    margin: auto;
    padding: 10px;
}